.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  pointer-events: all;
}

button:hover {
  cursor: pointer;
}

.keys-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.keys-wrapper > .key {
  cursor: pointer;
  padding: 12px;
  border: 1px solid black;
}

.key:hover {
  background: red;
}

.guitar-chart button {
  font-size: 12px;
    margin-bottom: 10px;
    background: black;
    padding: 6px;
    width: 100%;
    border-radius: 6px;
}

.guitar-chart circle {
  fill: #f4624a !important;
}

.dot-text {
  fill: white;
}

.dot-circle {
  filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .3));
}

.fretboard {
  background: #f5aa59;
  border-radius: 6px;
  margin: 24px 0 48px;
}

.dot-circle {
  opacity: .2;
}

.dot-in-box > .dot-circle {
  /* fill: #bada55; */
  opacity: 1;
}

.dot-text {
  opacity: .2;
}

.dot-in-box > .dot-text {
  opacity: 1;
}

